/**
 * @author wangjunping
 */

#container{
	width: 60%; 
	height: 950px; 
	background-color: #CCCCCC; 
	margin: auto;
}

#top_left_container{
	width: 65%; 
	height: 500px; 
	background-color: #FE57A1;
	float: left;
	margin-left: 1%;
	margin-top: 10px;
}

#top_right_container{
	width: 30%; 
	height: 500px; 
	background-color: #2B81AF;
	float: right;
	margin-right: 1%;
	margin-top: 10px;
	border: 2px red solid;
}

#bottom_container{
	width: 98%;
	height: 400px;
	margin-left: 1%;
	margin-top: 30px;
	float:left;
	background-color: #C6E746; 
}

#net_value{
	width: 100%;
	height: 240px;
	background-color: #EE5757; 
}

#year_yield_rate{
	width: 100%;
	height: 240px;
	margin-top: 20px;
	background-color: #0D3349; 
}

